*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #ebebeb;
}
/* Header of the page */
#header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15rem;
    margin-bottom: 0.2rem;
}
/* Space before the image */
#space{
    height: 100%;
    width: 1rem;
    background-color: #1d3243;
    border-radius: 0 50% 50% 0;
    align-self: flex-start;
}

#headcenter{
    background-color: #ebebeb;
    align-self: center;
    display: flex;
}
/* image */
#imageborder{
    margin-top: 2rem;
    margin-left: 2rem;
    width: min-content;
    margin-bottom: 4rem;
    background-color: #eacc8b;
    border-radius: 10%;

}
#image{
    padding: 0.5rem;
    height: 8rem;
    width: 8rem;
    border-radius: 10%;
}

/* Name and Desc */
#disc{
    color: #1d3243;
    margin-left: 0.5rem;
    color: #1d3243;
    
}
#disc h2{
    font-size: xx-large;
    color:#1d3243;
}
#disc h4{
    font-size: large;
    color: #a48a52;
    opacity: 1;
}

/* Links */
#links{
    height: 100%;
    align-self: flex-end;
    background-color: #1d3243;
    min-width: 30%;
}

#links a{
    color:#eacc8b;
    text-decoration: none;
    display: flex;
    justify-content:flex-start;
    width: fit-content;
}

.icon{
    height: 2rem;
    width: 2rem;
    margin: 0.3rem;
}

#links span{
    margin: 0.5rem  0 0 0.5rem;
}

#links a:hover{
    color:aliceblue;
    opacity: 0.5;
}

.copy{
    display: inline-block;
    vertical-align: middle;
}
.copy-button{
    border: 1px solid transparent;
    margin-left: 0.8rem;
    vertical-align: middle;
    color: #eacc8b;
    background-color: #1d3243;
}
.copy-button:hover{
    cursor: pointer;
    color:aliceblue;
    opacity: 0.5;
}

/* Content Starts Here*/

#content{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
    background-color: #ebebeb;
    width: 100%;
}

#content h2{
    color: #1d3243;
    text-decoration: underline;
}

#summary p{
    width: 93%;
}

.contentbox{
    display: block;
    padding: 0.2rem;
    margin-inline-start: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 100%;
}
#edu{
    height: 27rem;
}
.leftdiv{
    align-self: flex-start;
    width: 70%;
    float:left;
}

#edu a{
    font-size: medium;
    color: blue;
    text-decoration: none;
}

.grtype{
    font-weight: bold;
    font-size: larger;
}

.grade{
    border: 0.1rem solid black;
    margin-top: 1rem;
    height: 1.5rem;
    width: 4rem;
    opacity: 1;
    font-size: medium;
    font-weight: bold;
    color:darkblue;
}

.grade:hover{
    opacity: 0.5;
    background-color: aliceblue;
    cursor: text;
}

.rightdivmain{
    float:right;
    width: 30%;
    background-color: #1d3243;
}
.rightdiv{
    float:right;
    width: 30%;
}

.line{
    border:none;
    width: 95%;
    border-top: .1rem dashed black ;
    
}

.break{
    margin-inline-start: 2rem;
    margin-inline-end: 0.4rem;
    border:none;
    border-top: .13rem solid black ;
}

#skills h2{
    color:aliceblue;
    text-decoration: underline;
}
#skills h3{
    color:aliceblue;
    
}
#skills .line{
    border:none;
    width: 95%;
    border-top: .1rem dashed #eacc8b ;
    
}

.rgrade{
    border: 0.1rem solid black;
    margin: 1rem;
    height: 1.5rem;
    width: 4rem;
    opacity: 1;
    font-size: medium;
    font-weight: bold;
    color:darkblue;
}

.rgrade:hover{
    opacity: 0.5;
    background-color: aliceblue;
    cursor: text;
}

#sql{
    height: 1.5rem;
    width: 6rem;
}

#vhdl{
    width: 22rem;
}

#cpt{
    width: 12rem;
}

@media screen and (max-width: 1379px) {
    /* Style the button to display only the first three letters */
    #vhdl{
        white-space: nowrap; /* Prevent text from wrapping */
        overflow: hidden;
        width: 4rem;
        text-overflow: ellipsis; /* Display an ellipsis (...) to indicate hidden text */
    }

    /* Display full text when button is hovered */
    #vhdl:hover {
        overflow: visible;
        width: 6rem;
        white-space: normal; /* Allow text to wrap */
        text-overflow: initial;
        height: max-content;
    }
}

@media screen and (max-width: 850px) {
    #cpt,#sql{
        white-space: nowrap; /* Prevent text from wrapping */
        overflow: hidden;
        width: 4rem;
        text-overflow: ellipsis; /* Display an ellipsis (...) to indicate hidden text */
    }
    #cpt:hover,#sql:hover {
        overflow: visible;
        width: 6rem;
        white-space: normal; /* Allow text to wrap */
        text-overflow: initial;
        height: max-content;
    }

}